/* Header */
.header {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    opacity: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 50px;
    justify-content: center;
    margin-left: 1rem;
}

.button-header{
    margin-right: 1rem;
}

/* Dropmenu Header */

.dropmenu-div{
    border-radius: 5px;
    margin-right: 0.5rem
}

.dropmenu-div-a{
    padding: 5px;
}

.dropmenu-container{
    width: 50px;
}

.dropmenu-container img{
    height: 25px;
}

.bg-color-1{
    background-color: #121212;
}

.bg-red{
    background-color: red;
}
.color-whitesmoke{
    color: whitesmoke;
}

.connected-in{
    margin-right: 3%;
    font-size: 100%;
}

.dropmenu-username{
    font-size: 100%;
}

.dropmenu-li{
    margin-top: 10%;
}

.dropmenu-icon-favorite{
    height: 22px;
    margin-right: 10%;
}

.dropmenu-icon-home{
    height: 18px;
    margin-right: 10%;
}

.dropmenu-icon-signout{
    height: 15px;
    margin-right: 10%;
}

.dropmenu-ul{
    width: 220px;
}

.dropmenu-icon-user{
    height: 18px;
    margin-right: 10%;
}

.dropmenu-icon-signin{
    height: 25px;
    margin-right: 10%;
}

/* fin header */

/* Header haut de page */
.div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 20rem;
}

.div-header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.div-header-text{
    color: whitesmoke;
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
}

.div-header-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.button{
    color: whitesmoke;
    border-radius: 0;
    margin-left: 0.5rem;
}


.btn-danger {
    --bs-btn-bg: #ff0000;
}


a{
    text-decoration: none;
}

body{
    background-color: #121212;
}
.display-movie{
    margin-left: 5em;
    margin-right: 5em;
}
.card {
    width: 20rem;
    border-radius: 0;
    overflow: hidden;
    margin-top: 2rem;
    border: 0;
}

.card img {
    width: 100%;
    height: 10rem; /* définissez la hauteur souhaitée pour l'image */
    object-fit: cover; /* ajustez la taille de l'image sans la déformer */
    border-radius: 0;
}

.card-body {
    padding: 1rem; /* ajoutez un padding de 1rem à l'intérieur de la div */
    background-color: #221f1f;
}

.card-title {
    font-size: 1.2rem; /* définissez la taille de police pour le titre de la card */
    margin-bottom: 0; /* supprimez les marges en dessous du titre de la card */
    color: whitesmoke;
}
.card-category{
    color: red;
}


