.header {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    opacity: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.logo{
    height:50px;
    justify-content: center;
    margin-left: 1rem;
}
.button-create-comment{
    display: flex;
}

.button{
    color: whitesmoke;
    border-radius: 0;
}

.button-header{
    margin-right: 1rem;
}
.card-movie{
    display: flex;
    margin: 1rem 2rem;
}

.movie_thumbnail{
    height: 20rem;
    width: 8rem;
    object-fit: cover;
}

.movie_list{
    width: 15rem;
}
.category{
    margin-left: 2rem ;
}

a{
    text-decoration: none;
}
.video{
    display: flex;
    text-align: center;
    justify-content: center;
}

h1{
    margin: 0;
}

body{
    margin: 0;
    background-color: #121212;
}

h2{
    color:whitesmoke;
}

.card{
    background-color: #ff0000;
}