.header {
    background-color: #1e293b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
}

.logo{
    height:50px;
    justify-content: center;
}
.button-create-comment{
    display: flex;
}
.card-movie{
    display: flex;
    margin: 1rem 2rem;
}

.movie_thumbnail{
    height: 20rem;
    width: 8rem;
    object-fit: cover;
}

.movie_list{
    width: 15rem;
}
.category{
    margin-left: 2rem ;
}

a{
    text-decoration: none;
}
.video{
    display: flex;
    text-align: center;
    justify-content: center;
}
h1{
    margin: 0;
}

body{
    margin: 0;
    /*background-color: #4A4759;*/
}


