.movie-title{
    text-align: start;
    text-transform: uppercase;
    color: white;
    margin-right: 1rem;
    font-weight: bolder;
}


.movie-description-title {
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
}

.movie-description{
    margin-top: 1rem;
    color: white;
    font-weight: lighter;
}

.div-title-movie{
    margin-bottom: 1rem;
}

.button-category{
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.div-gauche{
    padding-left: 5%;
}

.movie-category-name{
    margin-bottom: 0;
}

/* Commentaires */


.div-comment{
    display: flex;
    align-items: center;
}

.no-comment{
    margin-left: 2rem;
    color: whitesmoke;
}

.comment-offline{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.add-comment{
    margin-left: 2rem;
    margin-top: 1rem;
}

.comment-button{
    color: white;
    border-radius: 0;
}

.comment-title{
    margin-left: 2rem;
    margin-top: 1rem;
    color: whitesmoke;
}

.card-comment {
    border-radius: 0;
    background-color: #121212;
    color: whitesmoke;
    margin: 2rem;
}

.comment-ban{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.comment-ban-text{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-weight: lighter;
}

.card-comment-username{
    font-weight: bold;
}

.card-comment-content{
    font-weight: lighter;
}

.header {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    opacity: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.logo{
    height:50px;
    justify-content: center;
    margin-left: 1rem;
}

.video{
    display: flex;
    text-align: center;
    justify-content: center;

}

.video-player{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.button{
        border-radius: 0;
        color: whitesmoke;
}

.button-header{
    margin-right: 1rem;
}

body{
    background-color: #121212;
}
