.header {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    opacity: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 50px;
    justify-content: center;
    margin-left: 1rem;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    width: 100%;
    padding-top: 5%;
}

body {
    background-color: #121212;
    color: #606468;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

.btn-submit{
    font-weight: 400;
    width: 320px;
    height: 40px;
    margin: 10px 0 5px;
    border-radius: 0.5rem;
    background-color: #ff0000;
    color :whitesmoke;
    outline:0;
    border: none;
}

h1 {
    text-align: center;
    padding-bottom:10px;
}

.color-whitesmoke{
    color: whitesmoke;
    text-align: center;
}